{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ titulo }}</h1>
    <p>
        {{ texto }}
    </p>
    <a href="https://mozilla.github.io/nunjucks/templating.html" target="_blank">Documentación Oficial</a>
    <p>
        <span>{{ monto|moneda }}</span>
    </p>

    <h2 class="mt-5 pt-5">Menú</h2>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/lorem">Lorem</a>
        </li>
    </ul>
</div>


{% endblock %}